.paletteColor {
  width: 80vw;
  height: 5vh;
  background-color: #dfdfdf;
  border-radius: 10px;
  border: solid 1px black;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addedColorHolder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px black;
  margin: 5px;
}

.addedColorHolder:hover {
  cursor: pointer;
}
